<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Oscar R</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portafolio</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Acerca de mí</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="img/oscar.jpg" alt="" style="border-radius: 50%; height: 350px;">
        <h1 class="text-uppercase mb-0">Oscar Espinoza Robles</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Arquitecto - Administrador de Proyectos - Gerente técnico</h2>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Portafolio</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <!-- UrbiVilla -->
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-0">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/urbiLogo.png" alt="">
            </a>
          </div>
          <!-- PEMEX -->
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/pemexLogo.png" alt="" style="width: 80%;">
            </a>
          </div>
          <!-- Parque Sinaloa -->
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/parqueSinaloa/parqueSinaloa.jpg" alt="" style="width: 80%; ">
            </a>
          </div>
        </div>
        <div class="row"> 
          <!-- Alcazar del country -->
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/alcazar/alcazarLogo.png" alt="" style="width: 120%;">
            </a>
          </div>

          <!-- Freelance -->
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/freelance/freelance.jpg" alt="">
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- <hr style="border:1px dashed #1fa1a3">
    <hr style="border:1px dashed #ccc">
    <hr style="border:1px dashed #1fa1a3"> -->

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Acerca de mí</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">SECTOR INMOBILIARIO:
              18 años de experiencia como gerente de proyectos urbanos, edificacion e imagen urbana, tramites y gestiones ante dependencias, compra de tierra, evaluacion de proyectos.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">ESTACIONES DE SERVICIO:
              9 años de experiencia en gerencia (manteniendo liderazgo en ventas y pmk), diseño y construcción de proyectos llave en mano de estaciones de servicio.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">EJERCICIO PROFESIONAL ARQUITECTONICO:
              30 años de experiencia en proyectos, elaboración de planes maestros, planes parciales, desarrollo urbano, proyecto arquitectónico arquitectura de paisaje y construcción.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Contáctame</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
            <form name="sentMessage" id="contactForm" novalidate="novalidate">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Nombre</label>
                  <input class="form-control" id="name" type="text" placeholder="Nombre" required="required" data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Correo electrónico</label>
                  <input class="form-control" id="email" type="email" placeholder="Correo electrónico" required="required" data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Número telefónico</label>
                  <input class="form-control" id="phone" type="tel" placeholder="Teléfono" required="required" data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Mensaje</label>
                  <textarea class="form-control" id="message" rows="5" placeholder="Mensaje" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>
              <div id="success"></div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Ubicación</h4>
            <p class="lead mb-0">Los Mochis, Sinaloa
              <br> CP 81277</p>
              <p>Dispuesto a reubicación</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">En la Web</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a target="_blank" class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.facebook.com/oscar.a.espinoza.35">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a target="_blank" class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.linkedin.com/in/oscar-espinoza-4b787560/">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">Acerca de mí</h4>
            <p class="lead mb-0">Esposo, padre, profesionista</p>
            <br>
            <p><i class="fa fa-mobile-phone"></i><strong> Celular: </strong> +52 (668) 144 2351</p>
            <p><i class="fa fa-envelope-o"></i><strong> Email: </strong> oespinr@hotmail.com</p>
          </div>

          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">Referencias</h4>
            <p class="lead mb-0">Disponibles a petición del interesado.</p>
            <br>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Oscar Robles 2020</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>


    <!-- UrbiVilla Modal-->

    <div class="portfolio-modal mfp-hide" id="portfolio-modal-0">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Urbi Villa Residencial</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="img/urbiLogo.png" alt="">

              <h4>Gerente técnico</h4>
              <h6>Plazas: Los Mochis, Culiacán y Mazatlán </h6>
              <p class="mb-5">Elaboracion de Proyectos Inmobiliarios, propuestas de valor,
                Gestiones desde tierra en breña hasta entrega de vivienda.
                En la cd de Culiacán y Los Mochis.<br>
                <small>  (2010-2020) </small>
              </p>

              <h4>Administrador de Proyectos</h4>
              <p class="mb-5">Revisión y Validacion de Proyectos en base a Norma URBI
                y Reglamentos. Administracion con Despachos Certificados
                de Proyectos. Trámites y Gestión ante dependencias. <br>
                <small> (206-2010) </small>
              </p>
              <img class="img-fluid mb-5" src="../public/img/urbiLogo.png" alt="">


              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Cerrar </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Alcazar modal -->
    
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Alcazar del country</h2>
              <h4>Proyecto elaborado para grupo VAL-SIN</h4>
              <hr class="star-dark mb-5">

              <p class="mb-5">Desarrollo Inmobiliario de 54 Has. en Los Mochis, Sin. Dirigido a vivienda media alta y residencial en un concepto de Privada y Cluste o Cotos e interiores, con un área comercial al norte del proyecto.</p>
              <img class="img-fluid mb-5" src="img/alcazar/alcazar1.png" alt="alcazar">

              <img class="img-fluid mb-5" src="img/alcazar/alcazar2.png" alt="alcazar">
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Cerrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PEMEX modal-->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Gasolineras VAL-SIN</h2>
              <h3>Gerencia General (25 empleados a mi cargo)</h3>
              <hr class="star-dark mb-5">
              <p class="mb-5">9 Años de experiencia en administración y direccion de
                Gasolineras Val-Sin, con enfoque de Servicio, Seguridad y
                Ecología , Relaciones con PEMEX , Dependencias
                diversas, Clientes y Cartera de Credito.</p>

              <h4>Gasolinera Sevafusa</h4>
              <h5>Proyecto Ejecutivo, Tramitología PEMEX y Construcción</h5>
              <ul style="float:center;">
                <li>Urbana</li>
                <li>12 posiciones de carga</li>
                <li>6 dispensarios</li>
                <li>Tienda de conveniencia</li>
                <li>3 tanques de alm</li>
                <li>Cap. de venta mas de 1,000,000 lts/mes</li>
              </ul>

              <img class="img-fluid mb-5" src="img/PEMEX/sevafusa.png" alt="Proyecto Sevafusa">

              <hr/>

              <h4>Estaciones del Valle</h4>
              <h5>CARRET. MEXICO 15 KM 40+800 AHOME, SINALOA</h5>

              <ul style="float:center;">
                <li>De carretera</li>
                <li>10 posiciones de carga</li>
                <li>3 dispensarios de gasolina</li>
                <li>2 dispensarios de diesel</li>
                <li>Tienda de conveniencia</li>
                <li>3 tanques de alm</li>
                <li>Cap. de venta mas de 900,000 lts/mes</li>
              </ul>

              <img class="img-fluid mb-5" src="img/PEMEX/EstacionesDelValle1.png" alt="Estaciones del Valle" style="height: 400px;">
              <img class="img-fluid mb-5" src="img/PEMEX/EstacionesDelValle2.png" alt="Estaciones del Valle" style="height: 400px;">


              <hr/>

              <h4>Gasolinera "El abuelo"</h4>
              <h5>PROYECTO EJECUTIVO EN GUASAVE, SINALOA.</h5>

              <ul style="float:center;">
                <li>De carretera</li>
                <li>6 posiciones de carga</li>
                <li>4 dispensarios de gasolina</li>
                <li>2 dispensarios de diesel</li>
                <li>Tienda de conveniencia</li>
                <li>2 tanques de alm</li>
                <li>Cap. de venta mas de 500,000 lts/mes</li>
              </ul>

              <img class="img-fluid mb-5" src="img/PEMEX/elAbuelo.png" alt="Estaciones del Valle">


              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Cerrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Parque Sinaloa modal -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Jardín Botánico Parque Sinaloa</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="img/parqueSinaloa/parqueSinaloa.jpg" alt="">
              <p class="mb-5">Plan Maestro para Jardín Botánico y Parque Sinaloa en Los Mochis. <br>
                Este trabajo se realizó para el municipio de Ahome, en esta lámina se ilustra la metodología que se siguió. </p>
              <br>
              <small>Metodología</small>
              <img class="img-fluid mb-5" src="img/parqueSinaloa/parqueSinaloaMetodologia.png" alt="Metodología">
              
              <small>Modelo</small>
              <img class="img-fluid mb-5" src="img/parqueSinaloa/parqueSinaloaPropuesta.png" alt="Modelo">

              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">

                <i class="fa fa-close"></i>
                Close Project</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Freelance modal -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Libre Ejercicio Profesional</h2>
              <hr class="star-dark mb-5">

              <!--  Plaza Wong -->
              <h4>Plaza Wong, Locales Comerciales</h4>
              <p class="mb-5">Conjunto modular de 4 locales comerciales, ubicado sobre AV. A. Obregón en Los Mochis, Sinaloa.
                 <br>
                 Fue deseo del cliente un estilo Colonial contemporáneo.</p>
              <br>

              <img class="img-fluid mb-5" src="img/freelance/plazaWong.png" alt="plazaWong" style="width: 400px;">
              <img class="img-fluid mb-5" src="img/freelance/plazaWong2.png" alt="plazaWong" style="width: 400px;">
              <img class="img-fluid mb-5" src="img/freelance/plazaWong3.png" alt="plazaWong" style="width: 400px;">
              
              <hr/>

              <!-- Oficinas y Bodegas -->
              <h4>Oficinas y bodegas, Cyrisa Los Mochis</h4>
              <p class="mb-5">Proyecto Ejecutivo de Oficina con Bodega, para CYRISA Los Mochis, empresa dedicada a la construcción de obra pública en Sinaloa
              <br>

              <img class="img-fluid mb-5" src="img/freelance/cyrisa.png" alt="cyrisa" style="width: 400px;">
              <img class="img-fluid mb-5" src="img/freelance/cyrisa2.png" alt="cyrisa" style="width: 400px;">
              
              <hr/>

              <!-- Acalli -->

              <h4>Oratorio y Centro de Formación espiritual</h4>
              <p class="mb-5">Proyecto de
                Remodelación de Centro de Formación Espiritual. Y Ampliación con Oratorio integrado al mismo.
              <br>

              <img class="img-fluid mb-5" src="img/freelance/Acalli.png" alt="cyrisa" style="width: 400px;">
              <img class="img-fluid mb-5" src="img/freelance/Acalli2.png" alt="cyrisa" style="width: 400px;">
              
              <hr/>

              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Cerrar
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

  </body>

</html>
